<!DOCTYPE html>
<html>
<head>
    <title>ti8m Docker Academy Kurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" role="main">
    <div class="jumbotron">
        <h1>Docker Academy!</h1>
        <p>Welcome to the Docker Academy course at s</p>
    </div>

    <div class="page-header">
        <h1>Database:</h1>
        <h5 th:text="${jdbcUrl}">(jdbcUrl)</h5>
    </div>
    <div class="alert alert-info" role="alert">
        <ul>
            <li th:each="msg : ${messages}"><h5 th:text="${msg}">(message)</h5></li>
        </ul>
    </div>

    <div class="page-header">
        <h1>Rest welcome service:</h1>
        <h5 th:text="${welcomeServiceUrl}">(welcomeServiceUrl)</h5>
    </div>
    <div class="alert alert-info" role="alert">
        <ul>
            <li><h5 th:text="${welcome}">(welcome)</h5></li>
        </ul>
    </div>

</div>
</body>
</html>